<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption and Decryption with OpenSSL</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/create_password">Create encrypted password</a>
    </div>
    
    <h1>Encrypt password</h1>
    <form method="POST">
        <label for="app">App Name:</label><br>
        <input type="text" id="app" name="app" value="{{ app_name }}" required><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="{{ username }}" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="{{ password }}" required><br>
        <label for="reentered_password">Re-enter Password:</label><br>
        <input type="password" id="reentered_password" name="reentered_password" value="{{ reentered_password }}" required><br><br>
        <button type="submit">Encrypt</button>
    </form>
    {% if password_mismatch_message %}
    <p>{{ password_mismatch_message }}</p>
    {% endif %}
    {% if encrypted_password %}
        <h2>Encrypted Password:</h2>
        <p>{{ encrypted_password }}</p>
    {% endif %}
</body>
</html>
