<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption and Decryption with OpenSSL</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/create_password">Encrypt</a>
        <a href="/logout">Log out</a>
    </div>
    <h1>Encryption and Decryption with OpenSSL</h1>
    <h2>Welcome {{username}}</h2>

    {% if app_names %}
    <h2>List of Apps:</h2>
    <ul>
        {% for app_name in app_names %}
            <li>
                <a href="{{ url_for('app_page', app_name=app_name) }}">{{ app_name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>Store your first app account details</h2>
    {% endif %}
</body>
</html>
